@import "./mixins";
@import "./colors";

body {
    @include body1;
    padding-top: 167px;
    height: 100%;
    color: $main-text-color;
}

section {
    padding: 20px 0;
    @media (min-width: $breakpoint-tablet) {
        padding: 30px 0;
    }
}

.container {
    max-width: $max-width-desktop;
    margin: 0 auto;
    padding: 0 20px;
}

.container-black {
    width: auto;
    background-color: $black-color;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    @include h2;
}

h3 {
    @include h3;
}

p {
    @include p;
}
