@import "./reset";
@import "./fonts";
@import "./globals";
@import "./variables";
@import "./colors";
@import "./mixins";

.header {
    z-index: 999;

    position: fixed;
    top: 0;
    padding-bottom: 15px;
    background-color: $black-color;
    width: 100%;

    &__logo-wrap {
        width: 94px;
        padding: 30px 0;
        margin: 0 auto;
    }

    &__logo > img {
        width: 94px;
        height: 65px;
    }
}

.nav {
    max-width: 1287px;
    padding: 0 20px;
    display: flex;
    margin: 0 auto;
    color: $secondary-text-color;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    &__link {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 21px;
    }

    &__search > img {
        width: 22px;
        height: 22px;
    }

    &__lang {
        text-transform: uppercase;
    }
}

.hero {
    @include mb;

    &__wrapper {
        max-width: 1440px;
        margin: 0 auto;
        background-image: url(../images/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__heading {
        padding-top: 398px;
        font-size: 40px;
        line-height: 44px;
    }

    &__heading-mod {
        color: #80858c;
    }

    &__text {
        max-width: 595px;
        color: $white-color;
        margin-bottom: 20px;
    }

    &__link {
        display: block;
        color: #56ccf2;
        padding-bottom: 70px;
    }
}

.info {
    @include mb;
}

.footer {
    background-color: $black-color;
    color: $secondary-text-color;

    &__top {
        position: relative;
        display: flex;
        padding: 30px 0;
    }

    &__link:not(:last-child) {
        display: block;
        margin-bottom: 8px;
    }

    &__list-right {
        margin-left: 193px;
    }

    &__social {
        display: flex;
        margin-left: 60px;
    }

    &__social-link:not(:first-child) {
        margin-left: 20px;
    }

    &__bottom {
        position: relative;
        padding: 30px 0;
        color: $white-color;
    }

    &__bottom::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $secondary-text-color;
    }
}
