@import './reset';
@import './fonts';
@import './globals';
@import './variables';
@import './colors';
@import './mixins';

.header {
    background-color: $black-color;
    width: 100%;

    &__logo-wrap {
        width: 94px;
        padding: 30px 0 10px;
        margin: 0 auto;
    }

    &__logo > img {
        width: 94px;
        height: 65px;
    }
}

.nav {
    position: relative;
    max-width: 1287px;
    display: flex;
    margin: 0 auto;
    color: $secondary-text-color;

    &__sticky-wrapper {
        background-color: $black-color;
        padding: 20px 0 15px;
        position: sticky;
        top: 0;
        z-index: 999;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    &__link {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 21px;
    }

    &__search > img {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 22px;
        height: 22px;
    }

    &__lang {
        text-transform: uppercase;
        line-height: 21px;
    }
}

.hero {
    padding-top: 0;

    &__wrapper {
        max-width: 1440px;
        margin: 0 auto;
        background-image: url(../images/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__heading {
        padding-top: 398px;
        font-size: 40px;
        line-height: 44px;
    }

    &__heading-mod {
        color: #80858c;
    }

    &__text {
        max-width: 595px;
        color: $white-color;
        margin-bottom: 20px;
    }

    &__link {
        display: block;
        color: #56ccf2;
        padding-bottom: 70px;
    }
}

.footer {
    background-color: $black-color;
    color: $secondary-text-color;

    &__top {
        position: relative;
        display: flex;
        padding: 30px 0;
    }

    &__link:not(:last-child) {
        display: block;
        margin-bottom: 8px;
    }

    &__list-right {
        margin-left: 193px;
    }

    &__social {
        display: flex;
        margin-left: 60px;
    }

    &__social-link:not(:first-child) {
        margin-left: 20px;
    }

    &__bottom {
        position: relative;
        padding: 30px 0;
        color: $white-color;
    }

    &__bottom::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $secondary-text-color;
    }
}

.products {
    &__cards {
        @include cards;
    }

    &__card {
        @include card;
    }

    &__card > img {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 180px;
        width: auto;
    }

    div {
        &:nth-of-type(1) {
            color: #437b50;
        }

        &:nth-of-type(2) {
            color: #80858c;
        }

        &:nth-of-type(3) {
            color: #7d3461;
        }

        &:nth-of-type(4) {
            color: #d9b700;
        }

        &:nth-of-type(5) {
            color: #9c9c9c;
        }

        &:nth-of-type(6) {
            color: #000000;
        }
    }
}

.cables {
    &__cards {
        @include cards;
    }

    &__card {
        @include card;
    }

    &__card > img {
        position: absolute;
        top: 0;
        left: 0;
    }

    h4 {
        font-size: 16px;
        line-height: 18px;
        color: $white-color;
        text-transform: none;
        max-width: 225px;
        padding: 0;
        position: absolute;
        top: 30px;
        left: 30px;
    }
}

.news {
    margin-bottom: 90px;

    h3 {
        margin-bottom: 30px;
    }
    p {
        color: $black-color;
        font-size: 16px;
        line-height: 22px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        h4 {
            font-size: 20px;
            line-height: 22px;
            color: $main-text-color;
            text-transform: none;
            padding: 0;
            margin: 0 0 15px 0;
        }

        ._big {
            display: flex;
            background-color: $card-background-color;
            grid-column-start: 1;
            grid-column-end: 4;
            order: -1;
        }
    }

    &__card {
        background-color: $card-background-color;
    }

    &__text {
        max-width: 240px;
        margin: 30px 0 0 30px;
        
        ._big & {
            max-width: 263px;
        }
    }

    &__date {
        color: $lightgrey-text-color;
        font-size: 16px;
        line-height: 22px;
        margin-top: 83px;
        margin-bottom: 30px;

        ._big & {
            margin-top: 153px;
        }
    }
}
